.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.app-header {
  background-color: #482e53;
  color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    .header-left {
      display: flex;
      align-items: center;
      gap: 1rem;

      h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
      }

      button {
        color: white;
      }
    }
  }
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  mat-sidenav-container {
    flex: 1;
    height: calc(100vh - 64px - 56px); // Subtract header and footer heights

    mat-sidenav {
      width: 250px;
      background-color: white;
      border-right: 1px solid rgba(0, 0, 0, 0.12);

      mat-nav-list {
        padding-top: 1rem;

        a {
          height: 48px;
          color: rgba(0, 0, 0, 0.87);
          border-radius: 0;
          margin: 4px 8px;
          display: flex;
          align-items: center;

          &:hover {
            background-color: rgba(0, 0, 0, 0.04);
          }

          &.active {
            background-color: rgba(72, 46, 83, 0.12);
            color: #482e53;

            mat-icon {
              color: #482e53;
            }
          }

          mat-icon {
            margin-right: 16px;
            color: rgba(0, 0, 0, 0.54);
          }

          span {
            font-size: medium;
            font-weight: bold;
          }
        }
      }
    }

    mat-sidenav-content {
      height: 100%;
      overflow-y: auto;
      background-color: #f5f5f5;
    }
  }
}

.app-main {
  padding: 2rem;
  max-width: 100%;
  margin: 0rem auto;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.app-footer {
  background-color: #482e53;
  color: #bdbdbd;
  text-align: center;
  padding: 1rem;
  height: 56px;
  box-sizing: border-box;

  p {
    margin: 0;
    font-size: 14px;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .app-header .header-content {
    padding: 0 0.5rem;

    h1 {
      font-size: 1.25rem;
    }
  }

  .app-main {
    padding: 1rem;
    margin: 1rem;
  }

  mat-sidenav {
    width: 200px !important;
  }
}
